.dockerignore
.editorconfig
.env
.env.*
.git
.github
.gitignore
.npmrc
.releaserc
.vscode/
.idea/
.credentials/
data/
deploy/
dist/
node_modules/
npm-debug.log
src/
docker-compose.yml
Dockerfile
smithery.yaml